  <div class="mini_nav">
    <table class="table">
        <thead>
          <tr>
            <th><%= link_to "Repositories", repositories_path %></th>
            <th><%= link_to "Remote Repositories", repositories_remote_path %></th>
            <th><%= link_to "Followers", followers_path %></th>
            <th></th>
          </tr>
        </thead>
    </table>
