  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">
        <svg height="100%" viewBox="590 1756 287 271" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="cdcc2cae2c9018caa2d4b66a9f2ec5e4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(590.000000, 1756.000000)">
            <path d="M143.5,0 C64.2528571,0 0,62.1835882 0,138.814985 C0,200.142202 41.1171429,252.132212 98.1364286,270.502752 C99.0442857,270.696126 99.8057143,270.751376 100.567143,270.751376 C105.897143,270.751376 107.947143,267.077268 107.947143,263.872783 C107.947143,260.557798 107.83,251.855963 107.742143,240.253517 C102.353571,241.413761 97.5507143,241.883384 93.275,241.883384 C65.6585714,241.883384 59.3914286,221.634353 59.3914286,221.634353 C52.8607143,205.611927 43.4307143,201.330071 43.4307143,201.330071 C30.9257143,193.04261 43.3721429,192.821611 44.3385714,192.821611 L44.3971429,192.821611 C58.8057143,194.037105 66.3614286,207.214169 66.3614286,207.214169 C73.5364286,219.06524 83.1421429,222.380224 91.7228571,222.380224 C98.4585714,222.380224 104.55,220.335984 108.122857,218.761366 C109.411429,209.810907 113.130714,203.70581 117.230714,200.197452 C85.3971429,196.689093 51.8942857,184.782773 51.8942857,131.604893 C51.8942857,116.438838 57.4585714,104.03527 66.625,94.3665647 C65.1607143,90.8582059 60.2114286,76.7142712 68.0307143,57.6254842 C68.0307143,57.6254842 69.0557143,57.3216106 71.2228571,57.3216106 C76.4064286,57.3216106 88.15,59.2001019 107.478571,71.8799185 C118.958571,68.7859327 131.170714,67.2941896 143.412143,67.2389399 C155.595,67.2941896 167.895,68.8135576 179.345714,71.8799185 C198.703571,59.2001019 210.417857,57.3216106 215.601429,57.3216106 C217.768571,57.3216106 218.793571,57.6254842 218.793571,57.6254842 C226.612857,76.7142712 221.663571,90.8582059 220.199286,94.3665647 C229.365714,104.09052 234.93,116.494088 234.93,131.604893 C234.93,184.893272 201.368571,196.633843 169.388571,200.059327 C174.513571,204.341182 179.140714,212.822018 179.140714,225.750459 C179.140714,244.314373 178.935714,259.287054 178.935714,263.817533 C178.935714,267.077268 180.927143,270.779001 186.227857,270.779001 C186.989286,270.779001 187.897143,270.723751 188.805,270.530377 C245.941429,252.104587 287,200.086952 287,138.814985 C287,62.1835882 222.747143,0 143.5,0 L143.5,0 Z M93.275,251.44159 C94.6807143,251.44159 96.0864286,251.38634 97.58,251.331091 C97.58,253.016208 97.58,254.646075 97.6385714,256.110194 C97.6385714,257.574312 97.6385714,258.900306 97.6971429,260.032926 C87.7107143,256.524567 78.2807143,251.883588 69.4364286,246.137615 C75.7328571,249.3421 83.6107143,251.44159 93.275,251.44159 L93.275,251.44159 Z M100.567143,207.407543 C100.069286,208.733537 99.6007143,210.114781 99.22,211.578899 C97.0528571,212.186646 94.4171429,212.656269 91.7228571,212.656269 C84.7528571,212.656269 79.54,209.396534 75.3228571,202.435066 C73.7707143,199.644954 70.9592857,195.970846 67.0642857,192.572987 C77.8414286,201.109072 90.3171429,205.225178 100.567143,207.407543 L100.567143,207.407543 Z M222.307857,242.988379 C212.175,250.170846 201.163571,255.86157 189.625,260.032926 L189.625,256.110194 L189.625,225.639959 C189.625,218.153619 188.277857,212.048522 186.432857,207.214169 C210.271429,202.186442 245.385,186.854638 245.385,131.439144 C245.385,116.576962 240.845714,103.344648 231.796429,92.1013252 C233.787857,84.3111111 235.310714,70.5815494 228.516429,54.0342508 L226.788571,49.7523955 L222.161429,48.2882773 C221.195,47.9844037 219.086429,47.5147808 215.747857,47.5147808 C208.367857,47.5147808 195.950714,50.0010194 177.617857,61.2995923 C166.723571,58.758104 155.331429,57.4321101 143.587857,57.4321101 L143.5,57.4321101 L143.441429,57.4321101 C131.727143,57.4321101 120.247143,58.758104 109.411429,61.2995923 C91.0785714,50.0010194 78.6614286,47.5147808 71.2814286,47.5147808 C67.9428571,47.5147808 65.8342857,48.0672783 64.8678571,48.3711519 L60.2407143,49.8352701 L58.5128571,54.1171254 C51.7185714,70.7472987 53.2707143,84.4492355 55.2328571,92.1841998 C46.2128571,103.482773 41.6442857,116.715087 41.6442857,131.522018 C41.6442857,161.495005 51.8942857,179.810296 65.1021429,191.053619 C59.9771429,187.020387 53.2414286,183.705403 45.1585714,183.152905 L44.8364286,183.152905 L44.5142857,183.152905 L44.3092857,183.152905 C35.9042857,183.152905 30.0178571,186.41264 28.1728571,192.048114 C25.1564286,200.998573 34.44,207.158919 37.515,209.20316 L37.8371429,209.562283 L38.8035714,209.921407 C39.8285714,210.529154 45.2757143,214.148012 49.6392857,224.728338 C50.9278571,228.485321 53.6807143,233.485423 58.3664286,238.154027 C49.9614286,231.385933 42.4642857,223.650968 36.0214286,215.142508 C19.1528571,192.904485 10.25,166.495107 10.25,138.814985 C10.25,121.356065 13.7642857,104.422018 20.7635714,88.4824669 C27.4992857,73.067788 37.105,59.2829766 49.405,47.4595311 C61.6464286,35.6084608 75.9378571,26.2988787 91.7521429,19.8346585 C108.122857,13.1218145 125.577143,9.6687054 143.5,9.6687054 C161.422857,9.6687054 178.877143,13.0665647 195.277143,19.7517839 C211.179286,26.2160041 225.382857,35.5255861 237.624286,47.3766565 C249.865714,59.2277268 259.53,73.067788 266.265714,88.3995923 C273.235714,104.366769 276.75,121.273191 276.75,138.759735 C276.75,166.439857 267.905714,192.849235 251.066429,215.087258 C242.983571,225.778084 233.319286,235.142915 222.307857,242.988379 L222.307857,242.988379 Z" id="Shape" fill="#000000"></path>
          </g>
        </svg>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Pull Requests</a></li>
        <li><a href="#">Issues</a></li>
        <li><a href="#">Gist</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><image src="<%= current_user.avatar_url if current_user %>" height="29"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Signed in as <%= current_user.login if current_user %></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Your Profile</a></li>
            <li><a href="#">Your Stats</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Integrations</a></li>
            <li><a href="#">Help</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
